<!-- Footer -->
<div id="Footer">
    <div class="DivFooterOne">Допольнительная <br> информация</div>
    <ul class="SomeTextFooter">
      <li>Некоторый текст некоторой информации</li>
      <li>Некоторый текст некоторой информации</li>
      <li>Некоторый текст некоторой информации</li>
      <li>Некоторый текст некоторой информации</li>
    </ul>
  </div>
  
  <!-- display none / 320px_display_block -->
  <div id="Footer_320">
    <div class="DivFooterOne">Допольнительная <br> информация</div>
    <ul class="SomeTextFooter">
      <li>Некоторый текст <br> некоторой информации</li>
    </ul>
  </div>
  <!-- display none / 320px_display_block -->
  <!-- Footer -->
  
  <!-- Under Footer -->
  <div class="UnderFooter">
  
    <div id="UnFooText_1">Дополнительная информация</div>
    <ul id="UnFooTextList">
      <li><a href="/transition">Additional information some text</a></li>
      <li><a href="/transition">Additional information some text 2</a></li>
      <li><a href="/transition">Additional information some text 3</a></li>
      <li><a href="/transition">Additional information some text 4</a></li>
      <li><a href="/transition">Additional information some text 5</a></li>
    </ul>
  
    <div id="UnFooText_2">Дополнительная информация 2</div>
    <ul id="UnFooTextList_2">
      <li><a href="/transition">Additional information some text</a></li>
      <li><a href="/transition">Additional information some text 2</a></li>
      <li><a href="/transition">Additional information some text 3</a></li>
      <li><a href="/transition">Additional information some text 4</a></li>
      <li><a href="/transition">Additional information some text 5</a></li>
      <li><a href="/transition">Additional information some text 6</a></li>
    </ul>
  
    <div id="UnFooText_2">Дополнительная информация 3</div>
    <ul id="UnFooTextList_2">
      <li><a href="/transition">Additional information some text</a></li>
      <li><a href="/transition">Additional information some text 2</a></li>
      <li><a href="/transition">Additional information some text 3</a></li>
      <li><a href="/transition">Additional information some text 4</a></li>
      <li><a href="/transition">Additional information some text 5</a></li>
      <li><a href="/transition">Additional information some text 6</a></li>
      <li><a href="/transition">Additional information some text 7</a></li>
    </ul>
    
  </div>
  <!-- Under Footer -->
  
  <!-- Footer Line -->
  <div id="FooterLine"></div>
  <!-- Footer Line -->