<!-- social contacts -->
<div id="Header">

    <div id="Telephon">
    <img src="../../public/IMG/telephon.png">
    <a href="tel:88000000000">8 800 000 00 00
    <span class="sp_tel sp_tel_none"> какая-то информация (звонок бесплатный) </span>
    </a>
    <br>
    <a href="tel:89000000000">8 900 000 00 00
    <span class="sp_tel sp_tel_none"> какая-то там информация </span>
    </a>
    </div>
    
    <div class="feedback">
        <a class="fbText" href="/transition">Обратная связь</a>
    </div>
    
    <div class="header-soc">
        <a class="yt" href="http://www.youtube.com" target="_blank" title="Link_Youtube"></a>
        <a class="h_in" href="http://www.instagram.com" target="_blank" title="Link_Instagram"><span class="headSocSpan">Мы в соцсетях</span></a>
    </div>
    
    <div class="intermap">
        <a class="inmap_a" href="/transition">ИНТЕРАКТИВНАЯ КАРТА</a>
      <a class="inmap_a_2" href="/transition">ИНТЕРАКТИВНАЯ<br>КАРТА</a>
    </div>
    
    <div class="rus-en">
      <ul>
        <li>Рус</li>
        <div style="height:13px; width:0px; border-left:2px solid #808080;"></div>
        <li><a href="/transition" title="en">Eng</a></li>
      </ul>
    </div>
    
    <!-- Q -->
    <div id="wrap">
    <div class="butIn">
      <div id="imgMag" onclick="openSearch('block')"></div>
    </div>
    <div class="ExitButIn" id="sizeButIn">
         <form action="#" class="form-search">
          <input class="search-inp" type="text" name="q">
         </form>
         <button class="qCancel" type="button" onclick="closeSearch('none')">X</button>
    </div>
    </div>
    
    <!-- add Q -->
         <form action="#" class="form-search_2">
          <input class="search-inp_2" type="text" name="q">
          <input class="subSearch" type="submit" value="">
         </form>
    <!-- add Q -->
    
    <!-- Q -->
    
    </div>
    <!-- social contacts -->
    
    
    <!-- menu-header -->
    <div class="Shell-MH">
    
    <div onclick="openForm('none')" id="bacbac"></div>
      <div class="btn btn-red btn-txt-mid">
        <a hfef="#" onclick="openForm('block')">онлайн-регистрация</a>
      </div>
        <div class="form-popup" id="onregForm">
            <h3>пожалуйста, введите 4 цифры номера вашего рейса</h3>
          <form action="/" class="form-container" method="post" name="flight_number">
            <input class="inputReg" type="text" placeholder="5501" name="RegOnInp" maxlength="10" required> <br>
            <input class="send" type="submit" value="Ввести">
            <button type="button" class="btn cancel" onclick="closeForm('none')"><span class="xXx">X</span></button>
          </form>
        </div>
    
    <nav class="menu-header">
      <ul>
        <li><a href="/">табло вылетов</a></li>
        <li><a href="/transition">дополнительные-услуги</a></li>
        <li><a href="/transition">полет с нами</a></li>
        <li><a href="/transition">о компании</a></li>
      </ul>
    </nav>
    
    </div>
    <!-- menu-header -->